.menu {

  .firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;

    &:hover {
      color: var(--primary);

      svg {
        fill: var(--primary)
      }
    }

    &Active{
      color: var(--primary);

      svg {
        fill: var(--primary)
      }
    }
  }

  .secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;

    .secondLevel {
      margin-bottom: 10px;
      cursor: pointer;
      text-transform: uppercase;
      color: var(--gray-dark);
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }

    .secondLevelBlock {
      display: none;

      &Opened {
        display: block;
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .thirdLevel {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    &:hover {
      color: var(--primary);
    }

    &Active {
      color: var(--primary);
    }
  }
}
